@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');
body{
    font-family: 'Muli', sans-serif;
}

#fondoBuscador{
    background-image: url('https://images.unsplash.com/photo-1551163829-3ea65502c44e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80');
}
.searchBox {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left:0;
    right:0;
    position: absolute;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    padding-top: 5%;
    padding-bottom: 7%;
    top: 15%;
}

input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size:15px;
}

#botonBusqueda {
    box-shadow: 0px 10px 14px -7px #787878;
    background-color: black;
    border-radius:25px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:13px 32px;
    text-decoration:none;
}

#botonBusqueda:hover {
    background:linear-gradient(to bottom, #000000 5%, #4d4d4d 100%);
    background-color:#000000;
}

.imgBarra{
    height: 50px;
}

header{
    display: flex;
    align-items: center;
    margin: 2em ;
}

header>input[type="text"]{
   height: 40px;
    width: 50%;
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 98%;
}

body p {
    margin: 2em;
    color: #787878;
}

article{
    margin: 1em 9em;
    width: 50%;
    padding: 1em;
}

article>*{
    margin: 0;
    text-decoration: none;
}